.home_wrapper {
    background: rgba(25, 194, 139, 0.05);
    min-height: calc(100vh - 170px);
    width: 70%;
    margin: 52px 0;
    padding: 40px 40px 50px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home_wrapper h2 {
    margin-bottom: 20px;
}



/* .append_trip {
    width: 60px;
    height: 60px;
    background: #19C28B;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
 */
