.sidebar {
    grid-area: sidebar;
    padding: 68px 50px 73px 50px;
  }

  .navbar {
    margin-top: 70px;
  }
  
  .navbar_item {
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 180px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: #6E6E6E;
  }

  .navbar_item.active {
    background: #19C28B;
    color: #fff;
    box-shadow: 0 10px 13px rgba(25, 194, 139, 0.2);
  }
 .navbar_icon {
   width: 40px;
   display: flex;
   align-items: center;
 }

 .navbar_title {
  font-weight: 500;
  font-size: 20px;
 }