.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1400px;
  grid-template-areas: 
  'sidebar content';
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 40px;
}
